.container{
	padding: 60px 20px 0 20px;
}

/* Dropdown Buttons */
.dropdown-menu>a:focus,
.active {
	background-color:#292B2C !important;
}


/* Social media buttons */
$hoverScale: 1.3;
$preHoverScale: 0.8;

.social:hover {
     -webkit-transform: scale($hoverScale);
     -moz-transform: scale($hoverScale);
     -o-transform: scale($hoverScale);
 }
 .social {
     -webkit-transform: scale($preHoverScale);
     /* Browser Variations: */
     
     -moz-transform: scale($preHoverScale);
     -o-transform: scale($preHoverScale);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 .smallFont{
     -webkit-transform: scale($preHoverScale);
     /* Browser Variations: */
     
     -moz-transform: scale($preHoverScale);
     -o-transform: scale($preHoverScale);
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-in:hover {
     color:#B6177E;
 }

form{
	margin: auto;
	max-width: 70%;
}

.footerLine{
	max-width: 70%;
}

#gotchaHide{
	display: none;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
            .smallFont {
        font-size: 1.5em;
    }
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    .smallFont {
        font-size: 2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
    .smallFont {
        font-size: 2.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
    .smallFont {
        font-size: 2.9em;
    }
}

.lead{
	font-size:27px;
}